body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.search-box {
    margin-bottom: 20px;
}

.episode-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.episode {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.episode:hover {
    transform: scale(1.05);
}

.character-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-details img {
    max-width: 100%;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #005f73;
}

button:disabled {
    background-color: #cccccc;
    cursor: default;
}